@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik-400";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik-700";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik-800";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: black;
    background-color: white;
}

div {
    display: block;
}

section {
    display: block;
}

a:active {
    outline: 2px solid #AF4FFF;
}

.main-header {
    padding-top: 17px;
    color: black;
    display: block;
}

.wrapper-content {
    width: 1160px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 64px;
    background-color: #ffe17f;
}

.header-content {
    padding-bottom: 0;
}

.main-container {
    flex-grow: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header-logo {
    display: block;
    padding: 0 60px;
    background-image: linear-gradient(180deg,#fff 23px,#FFE17F 13px);
}

.header-logo-link, .logo {
    width: 145px;
    height: 36px;
}

.header-logo-link:hover {
    opacity: 70%;
}

.header-logo-link:active {
    opacity: 30%;
}

.header-logo-link:focus {
    opacity: 1;
    outline: 2px solid #AF4FFF;
}
 
.navigation-wrapper {
    display: grid;
    grid-template-columns: 517px 523px;
    padding: 15px 60px 10px;
    background-color: #FFE17F;
    align-items: center;
}

.navigation-wrapper-catalog {
    display: grid;
    grid-template-columns: 517px 523px;
    padding: 15px 60px 20px;
    background-color: #FFE17F;
    align-items: center;
}

.navigation-top {
    display: flex;
    grid-template-columns: 256px 267px;
    column-gap: 198px;
    position: relative;
    align-items: flex-end;
}

.navigation-top-catalog {
    display: flex;
    grid-template-columns: 256px 267px;
    column-gap: 45px;
    position: relative;
    align-items: flex-end;
}

.navigation-list-1 {
    font-family: "Rubik-400", sans-serif;
    font-size: 18px;
    line-height: 50px;
    color: black;
    text-decoration: none;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2,max-content);
    margin: 0;
    padding-left: 55px;
    list-style: none;
}

.navigation-list-2 {
    font-family: "Rubik-400", sans-serif;
    font-size: 18px;
    line-height: 50px;
    color: black;
    text-decoration: none;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    margin: 0;
    padding-left: 0;
    list-style: none;
    column-gap: 61px;
    justify-content: end;
}

.navigation-link {
    text-decoration: none;
    color: black;
}

.navigation-link-catalog {
    display: grid;
    grid-template-columns: 119px 56px;
    column-gap: 28px;
}

.navigation-link:hover {
    text-decoration: none;
    color: black;
    opacity: 70%;
}

.navigation-exit {
    text-decoration: none;
    color: black;
    opacity: 30%;
}

.navigation-exit:hover {
    color: black;
    opacity: 1;
}

.navigation-link:active {
    text-decoration: none;
    color: black;
    opacity: 50%;
}

.navigation-link:focus {
    text-decoration: none;
    color: black;
    outline: 2px solid #AF4FFF;
}

.navigation-link1 {
    width: 231px;
    position: relative;
}

.navigation-link1:before {
    background-image: url("../images/blackman.svg");
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    width: 13px;
    height: 12px;
    left: -25px;
    top: 35%;
}

.navigation-link2 {
    width: 105px;
    position: relative;
}

.navigation-link2::before {
    background-image: url("../images/stat.svg");
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    width: 13px;
    height: 12px;
    left: -25px;
    top: 25%;
}

.navigation-link3 {
    width: 159px;
    position: relative;
}

.navigation-link3::before {
    background-image: url("../images/basket.svg");
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    width: 31px;
    height: 21px;
    left: -43px;
    top: 0%;
}

.for-popover:hover .popover{
    visibility: visible;
}

.search {
    font-family: "Rubik-400", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: black;
    display: flex;
    width: 517px;
}

.search-field {
    width: 357px;
    height: 40px;
    background-color: #ffe17f;
    border: 2px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 48px;
    position: relative;
}

.search-field::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("../images/vector2.svg");
    background-repeat: no-repeat;
    top: 50%;
    right: 50%;
}

.search-field:focus {
    outline: 2px solid #AF4FFF;
}

input::-webkit-input-placeholder { 
    color: black; 
    opacity: 30%;
}

.field {
    font-family: "Rubik-400", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    width: 531px;
    height: 48px;
    border-bottom: 3px solid #cecece;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0;
    padding-left: 16px;
    background-color: #F0F0F0;
}

.field:hover,
.field:focus {
    background-color: #DCDCDC;
}

.field:focus {
    outline: 2px solid #AF4FFF;
}

.field:invalid {
    box-shadow: none;
}

.field:focus:invalid {
    border-color: #FF3D3D;
}

.field::placeholder {
    color: #444444;
    opacity: 50%;
}

.field-label {
    visibility: hidden;
}

.newsletter-button {
    width: 253px;
    height: 55px;
    border: 3px solid #CECECE;
    padding: 0;
    margin: 0;
}

.search-button {
    width: 160px;
    height: 40px;
    background-color: #ffe17f;
    border: 2px solid black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search-button:hover {
    background-color: black;
    color: white;
}

.search-button:active {
    background-color: black;
    color: #616161;
}

.search-button:focus {
    background-color: #ffe17f;
    color: black;
    outline: 2px solid #AF4FFF;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: block;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.footer-social-link:hover {
    display: block;
    height: 40px;
    background-color: #ffc700;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.footer-social-link:focus {
    display: block;
    height: 40px;
    background-color: #ffc700;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.about-text {
    font-family: "Rubik-400", sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color:#444444;
    margin-bottom: 51px;
}

.about-text-text {
    font-family: "Rubik-400", sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color:#444444;
    margin-bottom: 30px;
}

.about-about {
    font-family: "Rubik-400", sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color:#444444;
    margin-bottom: 30px;
}

.navigation-list-down {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: black;
    text-transform: uppercase;
    letter-spacing: +.20em;
    background-color: #FFE17F;
    width: 1040px;
    display: grid;
    grid-template-columns: 569px 471px;
    margin-top: 21px;
}

.navigation-list-down-left {
    list-style-type: none;
    width: 293px;
    margin-top: 20px;
    margin-bottom: 0;
    padding-inline-start: 0;
}

.navigation-list-down-right {
    display: grid;
    grid-template-columns: repeat(3, 123px);
    column-gap: 50px;
    list-style-type: none;
    min-width: 471px;
    padding-inline-start: 0; 
}

.slider-button {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: +.20em;
    display: block;
    box-sizing: border-box;
    width: 220px;
    z-index: 0;
    padding: 6px 40px;
    position: relative;
    height: 40px;
    text-align: center;
}

.slider-button::before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 220px;
    height: 8px;
    background-color: #ffe17f;
    top: 30%;
    right: 0%;
}

.slider-button:hover {
    background-color: #ffe17f;
}

.slider-button:active {
    background-color: #ffc700;
    width: 220px;
    height: 40px;
}

.slider-button:active:before {
    opacity: 0;
}

.slider-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-container {
    box-sizing: border-box;
    width: 1160px;
    margin: 0 auto;
}

.gallery {
    background-image: linear-gradient(180deg,#ffe17f 60px,#fff 50px);
    margin-bottom: 105px;
    position: relative;
}

.slider-images {
    display: grid;
    counter-reset: slide;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.slider-controls {
    position: absolute;
    top: 40%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    column-gap: 490px;
    justify-content: space-between;
}

.slider-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 560px;
    height: 380px;
    position: relative;
}

.slider-text {
    padding-top: 23px;
    padding-left: 40px;
    padding-right: 15px;
    position: relative;
}

.title-slider::before {
    position: absolute;
    content: "0" counter(slide);
    counter-increment: slide;
    font-family: "Rubik-700", bold;
    font-size: 180px;
    line-height: 30px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 14%;
    top: -40px;
    right: 6%;
    z-index: -1;
}

.title-slider {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 29px;
    margin-top: 10px;
    z-index: 0;
    position: relative;
}

.table-features {
    margin-top: 49px;
}

.value {
    font-family: "Rubik-400", sans-serif;
    font-size: 36px;
    line-height: 30px;
    padding-right: 20px;
}

.social-fb {
    background-image: url("../images/fb.svg");
}

.social-fb:focus {
    background-image: url("../images/fbfocus.svg");
}

.social-inst {
    background-image: url("../images/inst.svg");
}

.social-inst:focus {
    background-image: url("../images/instfocus.svg");
}

.social-tw {
    background-image: url("../images/tw.svg");
}

.social-tw:focus {
    background-image: url("../images/twfocus.svg");
}

.parameter {
    font-family: "Rubik-400", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
    padding-right: 20px;
    padding-top: 8px;
}

.popular {
    margin-bottom: 60px;
}

.popular-products {
    display: grid;
    grid-template-columns: repeat(6,160px);
    gap: 40px;
    margin: 0;
    width: 1160px;
    list-style: none;
    padding-left: 0;

}

.product-item-link {
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
}

.product-text {
    letter-spacing: -0.02em;
}

.product-item-link:active img {
    opacity: 0.5;
}

.product-item-link:active .product-text {
    opacity: 0.5;
}

.product-item-link:hover .icon {
    background-color: #ffc700;
}

.product-item-link:focus .icon {
    background-color: #ffe17f;
}

.product-item-link:focus .product-one {
    outline: 2px solid #AF4FFF;
}

.product-one {
    width: 160px;
}

.slider-list {
    display: grid;
    grid-template-columns: 560px 600px;
    visibility: visible;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    position: relative;
}

.slider-pagination {
    display: grid;
    grid-template-columns: 220px 340px;
    align-items: center;
}

.slider-prev {
    margin-left: 30px;
}

.slider-pagination-button {
    width: 12px;
    height: 12px;
    margin-left: 20px;
    padding: 0;
    background-color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.slider-pagination-button:hover {
    background-color: #444444;
  }
  
  .slider-pagination-button:focus {
    background-color: #dcdcdc;
  }
  
  .slider-pagination-button-current {
    background-color: #000000;
  }

.icon {
    display: flex;
    background-color: #ffe17f;
    width: 160px;
    height: 160px;
    justify-content: center;
    align-items: center;
    margin-bottom: 33px;
}

.icon-product {
    margin: 0 auto;
}

.services-controls {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: +.20em;
}

.services-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.services-content-delivery {
    padding-top: 67px;
    padding-bottom: 40px;
    position: relative;
}

.about-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: black; 
    margin-top: 40px;
    margin-bottom: 48px;
}

.contacts-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: black; 
}

.services {
    background-image: url("../images/delivery-fon.jpg");
    background-size: 1440px 391px;
    margin-bottom: 70px;
    background-image: linear-gradient(180deg,#fff 105px,#f0f0f0 105px);
    padding-bottom: 72px;
    position: relative;
}

.tab-wrapper-left {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 35px;
    box-sizing: border-box;
    border-right: 7px solid #000;
    padding-top: 67px;
    padding-bottom: 75px;
    height: 319px;
}

.service-button-active {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: +.20em;
    width: 280px;
    height: 40px;
    border: 0;
    background-color: transparent;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.slider-line1 {
    padding-left: 20px;
    color: #ffe17f;
    background-color: black;
}

.slider-line1::before {
    opacity: 0;
}

.slider-line2 {
    padding-left: 21px;
}

.slider-line3 {
    padding-left: 35px;
}

.slider-line1:active {
    padding-left: 20px;
}

.slider-line2:active {
    padding-left: 21px;
}

.slider-line3:active {
    padding-left: 35px;
}

.slider-line1:focus {
    padding-left: 20px;
}

.slider-line2:focus {
    padding-left: 21px;
}

.slider-line3:focus {
    padding-left: 35px;
}

.service-button-active::before {
    content: "";
    position: absolute;
    z-index: -2;
    width: 160px;
    height: 8px;
    background-color: #FFE17F;
    left: 5px;
    top: 40%;
}

.service-button-active:active {
    color: rgba(255, 225, 127, 0.3);
}

.service-button-active:hover {
    color:rgba(255, 225, 127, 0.5);
    background-color: black;
}

.service-button-active:hover:before {
    color: #ffe17f;
    background-color: black;
}

.service-button-active:focus {
    color: #ffe17f;
    background-color: black;
    outline: 2px solid #AF4FFF;
}

.service-button-active:focus:before {
    opacity: 0;
}

.services-about {
    font-family: "Rubik-400", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.services-content-delivery::after {
    background-image: url("../images/delivery-man.svg");
    position: absolute;
    content: "";
    width: 136px;
    height: 164px;
    top: 25%;
    right: 0;
}

.tab-wrapper {
    display: grid;
    grid-template-columns: 287px 694px;
    width: 1160px;
    box-sizing: border-box;
    margin: 0 auto;
    column-gap: 114px;
    height: 319px;
}

.about {
    font-family: "Rubik-400", sans-serif;
    font-size: 18px;
    line-height: 30px;
    width: 520px;
    position: relative;
}

.about::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 0;
    width: 84px;
    height: 7px;
    background-color: #000;
}

.slider-direction {
    width: 20px;
    height: 60px;
    background-color: white;
    border: none;
    cursor: pointer;
    background-image: url("../images/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.slider-direction:hover {
    background-image: url("../images/hover.svg");
  }
  
  .slider-direction:focus {
    background-image: url("../images/click.svg");
  }

.slider-next {
    transform: rotate(180deg);
}

.index-columns {
    display: grid;
    grid-template-columns: 520px 532px;
    column-gap: 108px;
    margin: 0 auto;
    width: 1160px;
    margin-bottom: 70px;
}

.transport-company {
    font-family: "Rubik-700", sans-serif;
    font-size: 18px;
    line-height: 20px;
    list-style-type: none;
    display: grid;
    row-gap: 19px;
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 35px;
}

.transport-item {
    position: relative;
}

.transport-item::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -35px;
    width: 8px;
    height: 8px;
    border: 1px solid #ffc700;
    background: #ffc700;
    border-radius: 50%;
}

.contacts {
    font-family: "Rubik-400", sans-serif;
    font-size: 18px;
    line-height: 30px;
    width: 532px;
    position: relative;
}

.contacts::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 0;
    width: 84px;
    height: 7px;
    background-color: #000;
}

.button-about {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: black;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: +.20em;
    padding: 10px 25px;
    width: 270px;
}

.button-about:hover {
    background-color: #ffe17f;
}

.button-about:focus {
    background-color: #ffcc33;
}

.button-write {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: black;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: +.20em;
    padding-left: 34px;
    padding-top: 10px;
    width: 259px;
    height: 30px;
}

.button-write:hover {
    background-color: #ffe17f;
}

.button-write:focus {
    background-color: #ffcc33;
}

.button-about::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 270px;
    height: 8px;
    background-color: #FFE17F;
    right: 45px;
    top: 40%;
}

.button-write::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 259px;
    height: 8px;
    background-color: #FFE17F;
    right: 34px;
    top: 15px;
}

h3 {
    font-family: "Rubik-700", sans-serif;
    font-size: 24px;
    line-height: 30px;
}

.delivery-rare {
    margin: 0 auto;
    width: 1160px;
    margin-bottom: 80px;
}

.delivery-photo {
    background-image: url("../images/delivery.svg");
    width: 1160px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.delivery-photo:hover {
    background-image: url("../images/delivery-hover.svg");
    width: 1160px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.delivery-photo:focus {
    background-image: url("../images/delivery-focus.svg");
    width: 1160px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.delivery-photo:active {
    background-image: url("../images/active.svg");
    width: 1160px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.delivery {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;  
    margin-top: 10px;
    margin-bottom: 34px;
}

.contacts-phone {
    font-family: "Rubik-400", sans-serif;
    color: black;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.subscribe-spam {
    display: grid;
    width: 1400px;
    margin: 0 auto;
    background-color: #f0f0f0;
}

.subscribe-bottom {
    display: grid;
    grid-template-columns: 830px 180px;
    column-gap: 156px;
    width: 1160px;
    background-color: #F0F0F0;
    margin-bottom: 56px;
    margin-left: 120px;
    margin-right: 141px;
}



.subscribe-top {
    display: grid;
    grid-template-columns: 495px 560px;
    column-gap: 232px;
    background-color: #F0F0F0;
    width: 1160px;
}

.subscribe {
    background-color: #f0f0f0;
}

.subscribe-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    width: 348px;
    margin-top: 64px;
    margin-bottom: 144px;
    margin-left: 125px;
    padding: 0;
}

.subscribe-about {
    font-family: "Rubik-400", sans-serif;
    margin-top: 74px;
    margin-bottom: 144px;
    margin-left: 0;
}

.subscribe-button {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: +.20em;
    width: 253px;
}

.main-footer {
    background-color: #444444;
    background-size: 1440px;
    color: white;  
}

.address-color {
    position: relative;
    font-family: "Rubik-400", sans-serif;
    font-size: 16px;
    line-height: 19px;
    margin-top: 25px;
    margin-bottom: 64px;
}

.address-color::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 1px;
    width: 80px;
    height: 7px;
    background-color: #ffc700;
}

.navigation-link-footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: +.20em;
}

.navigation-link-footer:hover {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #ffc700;
    text-transform: uppercase;
    letter-spacing: +.20em;
    border-bottom: 2px solid #ffc700;
}

.navigation-link-footer:focus {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #ffc700;
    text-transform: uppercase;
    letter-spacing: +.20em;
    border-bottom: 2px solid #ffc700;
    filter: brightness(50%);
}

.contacts-phone-footer {
    font-family: "Rubik-400", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: white;
    justify-self: end;
}

.contacts-phone-footer:hover {
    font-family: "Rubik-400", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #ffc700;
    justify-self: end;
}

.contacts-phone-footer:focus {
    font-family: "Rubik-400", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #ffc700;
    justify-self: end;
    filter: brightness(50%);
}

.footer-logo:hover {
    opacity: 60%;
}

.footer-logo:active {
    opacity: 30%;
}

.footer-logo-htmlacademy {
    justify-self: end;
    margin-bottom: 65px;
    background-image: url("../images/academy.svg");
    background-repeat: no-repeat;
    width: 115px;
}

.footer-logo-htmlacademy:hover {
    justify-self: end;
    margin-bottom: 65px;
    background-image: url("../images/academyhover.svg");
    width: 115px;
}

.footer-logo-htmlacademy:focus {
    justify-self: end;
    margin-bottom: 65px;
    background-image: url("../images/academyfocus.svg");
    width: 115px;
}

.inner-header-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin-top: 35px;
    margin-bottom: 16px;
}

.breadcrumbs {
    font-family: "Rubik-400", sans-serif;
    font-size: 16px;
    line-height: 19px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 83px 149px 165px;
    column-gap: 16px;
    padding: 0;
    margin-bottom: 35px;
    margin-top: 0;
}

.breadcrumbs-link {
    text-decoration: none;
    color: black;
}

.bread {
    position: relative;
}

.bread::after {
    background-image: url("../images/breadcrumbs.svg");
    opacity: 30%;
    width: 4px;
    height: 7px;
    position: absolute;
    content: "";
    top: 35%;
    right: 0;
}

.visual {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    box-sizing: border-box;
    min-height: 70px;
    padding-top: 13px;
    padding-bottom: 25px;
    padding-left: 200px;
}

.visual-title {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    width: 92px;
    padding-left: 0; 
    letter-spacing: +.20em;  
    
}

.visual-title2 {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    padding-left: 40px; 
    letter-spacing: +.20em;  
    padding-top: 13px;
    margin-right: 197px;
    text-align: center;
}

.button-direction {
    display: grid;
    grid-template-columns: 30px 30px;
    align-items: center;
}

.button-light1 {
    background-image: url("../images/light1.svg");
    background-repeat: no-repeat;
    width: 11px;
    padding-top: 10px;
    opacity: 30%;
} 

.button-light1:hover {
    opacity: 100%;
} 

.button-light2 {
    background-image: url("../images/light2.svg");
    background-repeat: no-repeat;
    width: 11px;
    padding-top: 10px;
    opacity: 30%;
} 

.button-light2:hover {
    opacity: 100%;
} 

.catalog-filter-title {
    font-family: "Rubik-700", sans-serif;
    font-size: 18px;
    line-height: 20px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 7px;
}

.catalog-filter-title2 {
    font-family: "Rubik-700", sans-serif;
    font-size: 18px;
    line-height: 20px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
}

.page-catalog-container {
    width: 1440px;
    margin: 0 auto;
}

.catalog-filter-form-inside {
    box-sizing: border-box;
    height: 100%;
    width: 460px;
    padding-left: 191px;
    position: relative;
}

.catalog-filter-list1 {
    font-family: "Rubik-400", sans-serif;
    font-size: 16px;
    line-height: 19px;
    list-style-type: none;
    display: grid;
    row-gap: 17px;
    padding-left: 0;
    margin: 0;
}

.black-line1::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 2px;
    background-color: black;
    top: 118px;
    right: 60px;
}

.black-line2::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 2px;
    background-color: black;
    top: 372px;
    right: 60px;
}

.catalog-filter-list2 {
    font-family: "Rubik-400", sans-serif;
    font-size: 16px;
    line-height: 19px;
    list-style-type: none;
    display: grid;
    row-gap: 17px;
    padding-left: 8px;
    margin: 0;
}

.control-input1 {
    position: absolute;
    right: 80px;
    z-index: -1;
    opacity: 0;
}

.control-input2 {
    position: absolute;
    right: 70px;
    z-index: -1;
    opacity: 0;
}

.control-input3 {
    position: absolute;
    right: 70px;
    z-index: -1;
    opacity: 0;
}

.control-input4 {
    position: absolute;
    right: 89px;
    z-index: -1;
    opacity: 0;
}

.control-input5 {
    position: absolute;
    right: 88px;
    z-index: -1;
    opacity: 0;
}

.control-radio1 {
    position: absolute;
    right: 55px;
    z-index: -1;
    opacity: 0;
}

.control-radio2 {
    position: absolute;
    right: 48px;
    z-index: -1;
    opacity: 0;
}

.check-box {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -40px;
    background-image: url("../images/check-off.svg");
}

.check-box-radio {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -40px;
    background-image: url("../images/radio-off.svg");
}

.control-input:checked+.check-box {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -40px;
    background-image: url("../images/check-on.svg");
    top: -1px;
}

.control-radio:checked+.check-box-radio {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -40px;
    background-image: url("../images/radio-on.svg");
}

.control {
    position: relative;
    padding-left: 45px;
}

.control-label {
    padding-left: 40px;
    position: relative;
}

.main-inner {
    display: block;
}

.product-card {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 44px;
    column-gap: 40px;
    list-style-type: none;
    padding: 0;
    margin-bottom: 44px;
    margin-top: 0;
}

.product-card-item {
    display: grid;
    grid-template-rows: 380px 40px;
    row-gap: 32px;
}

.product-card-text {
    display: grid;
    grid-template-columns: 250px 65px;
    justify-content: space-between;
    max-width: 360px;
}

.inner-header {
    background-color: white;
    width: 1160px;
    margin-left: 100px;
    display: grid;
}

.navigation-list-footer {
    display: grid;
    grid-template-columns: 125px 121px 128px;
    column-gap: 35px;
    list-style-type: none;
    margin-top: 130px;
    margin-bottom: 62px;
    padding-left: 0;
}

.button-pagination-show-more {
    font-family: "Rubik-400", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    background-color: white;
    width: 760px;
    height: 55px;
    text-align: center;
    margin-bottom: 44px;
    border: 3px solid #e5e5e5;
}

.button-pagination-show-more:hover {
    border: 3px solid black;
}

.button-pagination-show-more:active {
    border: 3px solid #e5e5e5;
    color: #e5e5e5;
}

.footer-social-list {
    display: grid;
    grid-template-columns: 40px 40px 40px;
    column-gap: 15px;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 61px;
    height: 40px;
    padding-left: 15px;
    margin-top: 0;
}

.product-pagination {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr min-content;
    box-sizing: border-box;
    padding: 70px 40px 0 40px;
}

.product-card-title {
    font-family: "Rubik-700", sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: black;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.product-card-price {
    font-family: "Rubik-400", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #444444;
    text-align: right;
}

.pagination {
    background-color: #EBEBEB;  
    letter-spacing: +.20em;
    list-style-type: none;
    display: grid;
    grid-template-columns: 128px 200px 140px;
    justify-content: space-between;
    margin-bottom: 78px;
}

.pagination-list {
    display: grid;
    grid-template-columns: repeat(5, 40px);
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    align-content: center;
}

.visual-direction {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.visual-show {
    letter-spacing: +.20em;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    z-index: 0;
    border: none;
    color: black;
    padding: 10px 60px;
    position: relative;
}

.visual-show::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 220px;
    height: 8px;
    background-color: #ffe17f;
    left: 10px;
    top: 40%;
}

.visual-show:hover {
    background-color: #ffe17f;
}

.visual-show:active {
    background-color: #ffc700;
}

.visual-show:active::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 8px;
    background-color: #ffc700;
    left: 0;
    top: 40%;
}

select {
    position: relative;
    display: flex;
    align-items: center;
    width: 159px;
    margin-right: auto;
} 

.select-control {
    width: 100%;
    font-family: "Rubik-400", sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: #f0f0f0;
    border: none;
    background-image: url("../images/select.svg");
    background-repeat: no-repeat;
    background-position: right 0px center;
    appearance: none;
    height: 70px;
    padding-left: 20px;
}

.pagination-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}

.popup {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 380px;
    background:rgba(240, 240, 240, 0.8);
    position: absolute;
}

.popup-button {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: .2em;
    z-index: 0;
}

.product-card-item:hover .popup {
    visibility: visible;
}

.product-card-item:active .popup-button::before {
    background-color: #ffc700;
}

.popup-button::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 8px;
    background-color: #ffe17f;
    z-index: -1;
    top: 49%;
    left: 70px;
}

.pagination-link:hover {
    background-color: #dcdcdc;
}

.pagination-link:active {
    background-color: #dcdcdc;
    opacity: 30%;
}

.pagination-prev {
    padding: 25px;
    cursor: pointer;
}

.pagination-next {
    padding: 25px;
}

.contacts-title-text {
    color: #444444;
    margin-top: 30px;
    margin-bottom: 15px;
}

.contacts-title-right {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: black; 
    margin-bottom: 45px;
}

.contacts-time {
    color: #444444;
    margin-top: 30px;
    margin-bottom: 15px;
}

.contacts-title-text1 {
    color: #444444;
    margin-bottom: 30px;
}

.contacts-title-text2 {
    color: #444444;
    margin-bottom: 30px;
    margin-top: 0;
}

.contacts-title-text-address {
    color: #444444;
    margin-top: 0;
    margin-bottom: 0;
}

.pagination-link-number {
    color: #444444;
    text-decoration: none;
    font-family: "Rubik-400", sans-serif;
    font-size: 16px;
    line-height: 20px;
    opacity: 30%;
}

.pagination-link-number:hover {
    opacity: 100%;
}

.pagination-link-number:active {
    opacity: 10%;
}

.button-pagination-show-more {
    letter-spacing: +.20em;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.free {
    font-family: "Rubik-400", sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-image: url("../images/vector.svg");
    background-repeat: no-repeat;
    background-position: 5% 60%;
    padding-left: 42px;
    margin-top: 12px;
}

.main-footer-container {
    display: grid;
    grid-template-columns: 239px 444px 250px;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
}

.logo-address {
    width: 239px;
    margin-top: 62px;
}

.logo-tel {
    display: grid;
    gap: 23px;
    margin-top: 140px;
    width: 250px;
}

.navigation-socials-inside {
    display: grid;
    width: 444px;
    margin: 0 auto;
}

.catalog-products {
    display: grid;
    grid-template-columns: 460px 980px;
    background-color: #f0f0f0;
}

.catalog-filter {
    display: flex;
    flex-direction: column;
    gap: 35px;
    flex-grow: 1;
    background-color: #f0f0f0;
    width: 460px;
}

.catalog-right-column {
    width: 840px;
}

.navigation-catalog {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: black;
    text-transform: uppercase;
    letter-spacing: +.20em;
    text-decoration: none;
}

.open-catalog:hover .catalog-open-window {
    visibility: visible;
}

.navigation-catalog::after{
    background-image: url("../images/plus.svg");
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: -20px;
    right: -2px;
}

.open-catalog {
    position: relative;
}

.catalog-open-window {
    display: grid;
    grid-template-columns: 252px 211px 211px;
    list-style-type: none;
    font-family: "Rubik-400", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: none;
    position: absolute;
    width: 1100px;
    height: 180px;
    padding-left: 0;
    padding-top: 29px;
    z-index: 10;
    visibility: hidden;
}

.catalog-open-window:hover {
    display: grid;
    grid-template-columns: 252px 211px 211px;
    list-style-type: none;
    font-family: "Rubik-400", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: none;
    position: absolute;
    width: 1100px;
    height: 180px;
    padding-left: 0;
    padding-top: 29px;
    z-index: 10;
}

.line-link {
    font-family: "Rubik-400", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: none;
    color: black;
    text-decoration: none;
    letter-spacing: 0;
}

.line-link:hover {
    opacity: 70%;
}

.line-link:active {
    opacity: 30%;
}

.column-first-table, .column-second-table, .column-third-table {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    row-gap: 25px;
}

.column-second-table {
    list-style-type: none;
}

.column-third-table {
    list-style-type: none;
}

.sorting-container {
    display: grid;
    grid-template-columns: 147px 170px 90px;
    color: #000000;
    background-color: #f0f0f0;
    justify-content: space-between;
    height: 70px;
}

.popover {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 320px;
    font-family: "Rubik-400", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: white;
    background-color: black;
    min-height: 301px;
    display: grid;
    grid-template-rows: 83px 83px 44px 90px;
    margin: 0;
    visibility: hidden;
}

.first-row {
    display: grid;
    grid-template-columns: 39px 185px 10px;
    column-gap: 23px;
    padding: 20px;
}

.first-row:hover {
    opacity: 70%;
}

.first-row:active {
    opacity: 30%;
}

.first-row:focus {
    outline: 2px solid #AF4FFF;
}

.second-row {
    display: grid;
    grid-template-columns: 39px 185px 10px;
    column-gap: 23px;
    padding: 20px;
}

.second-row:hover {
    opacity: 70%;
}

.second-row:active {
    opacity: 30%;
}

.second-row:focus {
    outline: 2px solid #AF4FFF;
}

.popover-close-button {
    width: 10px;
    height: 10px;
    background-color: black;
    border: none;
    background-image: url("../images/x.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.selfi {
    display: block;
    margin: 0 auto;
}

.selfi-text {
    padding: 0;
    margin: 0;
}

.third-row {
    display: grid;
    grid-template-columns: 120px 150px;
    column-gap: 10px;
    background-color: #1a1a1a;
}

.fourth-row {
    padding: 20px;
}

.price {
    justify-self: end;
}

.two {
    padding-left: 20px;
}

.open-basket {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: black;
    border: none;
    text-decoration: none;
    display: grid;
    align-items: center;
    width: 280px;
    height: 50px;
    background-color: white;
}

.open-basket:hover {
    background-color: #ffe17f;
}

.open-basket:active {
    background-color: #ffe17f;
    color: #444444;
}

.open-basket:focus {
    background-color: white;
    color: black;
}

.range-scale {
    position: relative;
    height: 2px;
    margin-bottom: 10px;
    background-color: #dcdcdc;
    width: 200px;
} 

.range-bar {
    position: absolute;
    height: 2px;
    background-color: black;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ebebeb;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}
  
  .range-toggle:hover {
    background-color: #ebebeb;
    border: 2px solid #dcdcdc;
}
  
  .range-toggle:active {
    outline: 1px solid black;
    background-color: black;
} 

.range-toggle:focus {
    outline: 1px solid #AF4FFF;
} 

.toggle-min {
    top: -8px;
}
  
  .toggle-max {
    top: -8px;
    right: -18px;
}

.range-wrapper-inputs {
    display: grid;
    grid-template-columns: 60px 79px;
    gap: 40px;
}
  
.catalog-filter-label {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: "Rubik-400", sans-serif;
    font-size: 15px;
    line-height: 18px;
    opacity: 30%;
}

.catalog-label {
    padding-top: 5px;
}

.catalog-filter-item:hover {
    opacity: 60%;
}

.catalog-filter-item:active {
    opacity: 20%;
}

.catalog-filter-item:disabled {
    opacity: 10%;
}

.catalog-filter-item:focus {
    opacity: 100%;
    outline: 2px solid #AF4FFF;
}

.range-input {
    width: 20px;
    padding: 0;
    font-family: "Rubik-400", sans-serif;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    background-color: transparent;
    border: none;
    appearance: textfield;
}
  
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.catalog-filter-group {
    margin: 0;
    padding: 17px 0 50px;
    border: none;
}

.catalog-filter-group2 {
    margin: 0;
    padding: 17px 0 40px;
    border: none;
}

.catalog-filter-form-inside::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 2px;
    background-color: black;
    top: -1%;
    right: 60px;
}

.modal {
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 33%;
    box-sizing: border-box;
    display: grid;
    row-gap: 42px;
    grid-template-rows: 50px 332px;
    width: 920px;
    height: 568px;
    padding: 72px 80px;
    border: 10px solid black;
}

.modal-title {
    display: grid;
    grid-template-columns: 498px 262px;
    justify-content: space-between;
}

.modal-title-text {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.modal-close {
    background-image: url("../images/close.svg");
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: end;
    border: none;
    background-color: white;
    cursor: pointer;
}

.modal-close:hover {
    opacity: 70%;
}

.modal-close:focus {
    opacity: 30%;
}

.modal-info1 {
    display: grid;
    grid-template-columns: 360px 360px;
    column-gap: 40px;
    margin-bottom: 42px;
}

.modal-info2 {
    display: grid;
    grid-template-columns: 540px 180px;
    column-gap: 40px;
    margin-bottom: 42px;
}

.user-name {
    display: grid;
    grid-template-rows: 20px 60px;
    row-gap: 14px;
}

.user-number {
    display: grid;
    grid-template-columns: 60px 60px 60px ;
}

.send {
    letter-spacing: +.20em;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    z-index: 0;
    border: none;
    color: black;
    padding: 10px 30px;
    position: relative;
    background-color: white;
    width: 200px;
    cursor: pointer;
}

.send::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #ffe17f;
    width: 200px;
    height: 8px;
    top: 37%;
    left: 0px;
}

.send:hover {
    background-color: #ffe17f;
}

.input-modal {
    background-color: #f0f0f0;
    border: none;
    padding-left: 20px;
    position: relative;
}

.minus {
    background-color: #f0f0f0;
    border: none;
}

.plus {
    background-color: #f0f0f0;
    border: none;
}

.num {
    padding-left: 24px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

.name-human {
    background-image: url("../images/human.svg");
    background-repeat: no-repeat;
    background-position: right 21px;
}

.mail-human::after {
    background-image: url("../images/mail.svg");
    width: 15px;
    height: 12px;
    position: absolute;
    content: "";
    z-index: 100;
}

.modal-container-close {
    display: none;
}